<div
  class="carousel"
  (mouseenter)="stopTimer()"
  (mouseleave)="startTimer()"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)">

  <div class="carousel__track">
    <div
      *ngFor="let item of carouselItems; let i = index"
      class="carousel__slide"
      [class.active]="i === currentIndex">

      <img [src]="item.image" [alt]="item.title || 'Slide ' + (i + 1)" />

      <div class="carousel__overlay" *ngIf="item.title || item.subtitle">
        <h2 class="carousel__title" *ngIf="item.title">{{ item.title }}</h2>
        <p class="carousel__subtitle" *ngIf="item.subtitle">{{ item.subtitle }}</p>
      </div>

    </div>
  </div>

  <button class="carousel__btn carousel__btn--prev" (click)="prev()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button class="carousel__btn carousel__btn--next" (click)="next()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <div class="carousel__dots">
    <span
      *ngFor="let item of carouselItems; let i = index"
      class="carousel__dot"
      [class.active]="i === currentIndex"
      (click)="goTo(i)">
    </span>
  </div>

</div>